body{
    background-color: pink;

}

 h1{

    font: 30px bold hotpink;
}


  .skip a{
    background: #f1f1f1;
    left: 0;
    z-index: 1;
    position: absolute;
    top: -40px;
    transition: top 1s ease-out;
    -webkit-transition: top 1s ease-out;
    padding: 6px;
}

.skip a:focus{
    position: absolute;
    top: 20px;
}

a:visited{
    color: inherit;
}

header{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

nav{
  display: flex;
    color:wheat;
    background-color: yellowgreen;
    padding: 5px 0;    
    text-align: right;   
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    /* align-items: baseline; */
    align-content: flex-end;

  }

  nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    
  }

  nav li{
    font-size: 25px;
    display: inline;
    padding-right: 100px;

  }
  


#sweater{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
#sunnies{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#crop{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}


.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    flex-basis: 110px;
    width: 75%;
    justify-content: space-between;
    /* align-items: flex-end; */
    background: greenyellow;
    border: solid 2px  magenta;
    padding-top: 3px;
    /* padding-bottom: 10px; */
    /* border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; */
}

.blue{
  background: aliceblue;
  text-align: center;
  color: purple;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
}

.yellow{
  background: lightcyan;
  text-align: center;
  font-weight: bold;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.pink{
  background: paleturquoise;
  text-align: center;
  font-weight: bold;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}


.gallery{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.gallery img{
    border: 10px  magenta solid;
    margin: 10px;
    width: 300px;
}

#britneylove{
  text-align: center;
}

.britney_inspo{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    justify-content: space-between;
    /* align-items: flex-end; */
    background: greenyellow;
    border: solid 2px  magenta;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;    
}

.grid {
    /* border: 2px magenta solid; */
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 25% 25% 2fr 1fr;
    grid-template-rows: 200px 200px;
    grid-row-gap: 10px;
    grid-column-gap: 15px;
  }
  
  .box {
    /* background-color: beige; */
    color: black;
    border-radius: 5px;
    /* border: 2px magenta solid; */
  }


  .one {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .two{
    grid-column-start: 3;
    grid-column-end:span 5;
    grid-row-start: 1;
    grid-row-end: 2;

  }
  .three{
    grid-column-start: 1;
    grid-column-end: span 4;
    background-color: tan;
    text-align: center;
    color: navy;
  }

  .image_gallery{
    border: 2px magenta solid;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  footer{
    background-color: turquoise;
    display: flex;
    align-content: center;
    align-items: center;
  }

  #logo{
    /* margin-left: auto; */
    margin-right: auto;

  }
  #logo2{
    margin-left: auto;
    /* margin-right: auto; */
  }